.home-margins{
  margin-top: 2%;
  margin-bottom: 2%;
}

.bio {
  font-size: 32px;
}

.center{
  text-align: center;
}


@media only screen and (max-width : 768px) {

    .bio{
        font-size: 16px;
    }
}
